@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:700i");

@media print, screen and (max-width: 750px) {
	.pc {
		display: none !important;
	}
	body {
		background-color: #fff;
	}
	img {
		width: 100%;
		height: auto;
	}

	/* form
	----------------------------------------------------- */
	/* text */
	input[type="text"],
	input[type="password"] {
		width: 100%;
		font-size: 16px;
		padding: 0 15px;
		height: 55px;
		border: none;
		box-sizing: border-box;
		background: #fff;
	}
	input::placeholder, textarea::placeholder {
		color: #aeaeae;
	}
	label {
		position: relative;
		cursor: pointer;
	}
	/* radio */
	label input[type="radio"] {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		background: none;
		border: none;
		border-radius: 0;
		outline: none;
		-webkit-appearance: none;
			 -moz-appearance: none;
						appearance: none;
		opacity: 0;
	}
	label input[type="radio"] + span {
		display: inline-block;
		height: 26px;
		position: relative;
		padding: 5px 0 0 36px;
	}
	label input[type="radio"] + span::before {
		content: '';
		display: inline-block;
		width: 26px;
		height: 26px;
		vertical-align: middle;
		box-sizing: border-box;
		background-color: #fff;
		border-radius: 50%;
		border: 1px solid #ccc;
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
	}
	label input[type="radio"] + span::after {
		content: '';
		display: none;
		width: 12px;
		height: 12px;
		box-sizing: border-box;
		background-color: #4b0000;
		border-radius: 50%;
		position: absolute;
		top: 7px;
		left: 7px;
	}
	label input[type="radio"]:checked + span::after {
		display: block;
	}
	label input[type="radio"] + span b {
		display: inline-block;
		font-weight: normal;
		vertical-align: middle;
	}
	/* checkbox */
	label input[type="checkbox"] {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		background: none;
		border: none;
		border-radius: 0;
		outline: none;
		-webkit-appearance: none;
			 -moz-appearance: none;
						appearance: none;
		opacity: 0;
	}
	label input[type="checkbox"] + span {
		display: inline-block;
		height: 26px;
		position: relative;
		padding: 5px 0 0 36px;
	}
	label input[type="checkbox"] + span::before {
		content: '';
		display: inline-block;
		width: 26px;
		height: 26px;
		vertical-align: middle;
		box-sizing: border-box;
		background-color: #fff;
		border: 1px #ccc solid;
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
	}
	label input[type="checkbox"] + span::after {
		content: '';
		display: none;
		width: 24px;
		height: 24px;
		background: url(../img/icon_check.png) no-repeat;
		background-size: 100% auto;
		position: absolute;
		top: 1px;
		left: 1px;
	}
	label input[type="checkbox"]:checked + span::after {
		display: block;
	}
	label input[type="checkbox"] + span b {
		display: inline-block;
		font-weight: normal;
		vertical-align: middle;
	}
	/* select */
	select {
		font-size: 16px;
		padding: 10px 60px 10px 10px;
		border: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		background: url(../img/bg_select.png) no-repeat center right #fff;
		cursor: pointer;
		color: #aeaeae;
	}
	select option {
		color: #000;
	}
	select::-ms-expand {
		display: none;
	}
	/* textarea */
	textarea {
		font-size: 16px;
		width: 100%;
		padding: 22px 20px;
		border: none;
		box-sizing: border-box;
		resize: none;
		background: #fff;
	}
	/* error */
	.errorTxt {
		display: none;
		font-size: 13px;
		color: #e40112;
		margin-top: 8px;
		line-height: 1.4;
		font-weight: 400;
		margin-bottom: 15px;
	}
	.error .errorTxt {
		display: block;
	}
	/* .error input[type="text"],
	.error input[type="password"],
	.error select,
	.error textarea {
        border: 2px solid #e40112;
	} */

	/* btn
	----------------------------------------------------- */
	.btn a,
	.btn button {
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		text-decoration: none;
		display: inline-block;
		position: relative;
		padding: 20px 30px 20px 40px;
		box-sizing: border-box;
		background-color: #ff8c2f;
		border: none;
		border-radius: 50px;
		box-shadow: 0 3px #cc5c01;
		transition: all, 0.2s ease;
	}
	.btn.close a {
		background-color: #dcdcdc;
		box-shadow: 0 3px #ababab;
		color: #000;
	}
	.btn.light a,
	.btn.light button {
		background-color: #f78501;
		box-shadow: 0 3px #794200;
	}
	.btn a span,
	.btn button span {
		display: inline-block;
		background: url(../img/sp/arrow_white01.png) no-repeat center right;
		background-size: 9px auto;
		padding: 0 25px 0 20px;
		min-width: 130px;
	}
	/* disabled */
	.btn a.disabled {
		color: #fff !important;
		background-color: #9a9a9a !important;
		box-shadow: 0 3px #7d7d7d !important;
		box-shadow: none !important;
		cursor: default !important;
		pointer-events: none;
	}
	.btn a.disabled span {
		opacity: 0.6;
		padding-left: 20px;
	}
	.btn a.disabled b {
		opacity: 0.6;
	}
	/* twitter */
	.btn.tw a {
		padding: 22px 20px 20px 30px;
		background-color: #1da1f2;
		box-shadow: 0 3px #1583d5;
	}

	/* large */
	.btn.large a {
		font-size: 20px;
		font-weight: 600;
		padding: 20px 30px 20px 30px;
		border-radius: 50px;
	}
	/* confirm */
	.btn.confirm button,
	.btn.colorY button,
	.btn.colorY a {
		color: #333;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
		display: inline-block;
		position: relative;
		padding: 20px 30px 20px 30px;
		box-sizing: border-box;
		background-color: #ffde00;
		border: none;
		border-radius: 50px;
		box-shadow: 0 3px #e4a400;
		transition: all, 0.2s ease;
		cursor: pointer;
	}
	.btn.confirm button {
		background-color: #f68500;
		box-shadow: 0 3px #dc6200;
	}
	.btn.colorY a {
		padding: 20px 30px 20px 40px;
	}
	.btn.confirm button:disabled {
		color: #fff;
		background-color: #d3d3d3;
		box-shadow: none;
	}
	.btn.confirm button span,
	.btn.colorY button span,
	.btn.colorY a span {
		background: url(../img/sp/arrow_black.png) no-repeat center right;
		background-size: 9px auto;
		padding: 2px 60px 0 60px;
		box-sizing: border-box;
	}
	.btn.confirm button span {
		color: #fff;
		background: url(../img/sp/arrow_white02.png) no-repeat center right;
		background-size: 9px auto;
	}
	.btn.confirm button:disabled span {
		background: url(../img/sp/arrow_white02.png) no-repeat center right;
		background-size: 9px auto;
	}
	.btn.colorY a span {
		padding: 0 30px 0 0;
	}
	/* back */
	.btn.back button {
		color: #000;
		font-size: 18px;
		font-weight: 600;
		text-decoration: none;
		display: inline-block;
		position: relative;
		padding: 16px 25px 14px 25px;
		box-sizing: border-box;
		background-color: #fff;
		border: 2px solid #581c1c;
		box-shadow: none;
		border-radius: 50px;
		transition: all, 0.2s ease;
		cursor: pointer;
	}
	.btn.back button span {
		background: url(../img/sp/arrow_brown_back.png) no-repeat center left;
		background-size: 9px;
		padding: 2px 25px 0 25px;
		min-width: 100px;
	}
	.btn.back.small button {
		width: 160px;
		padding: 12px 15px 11px 15px;
	}
	.btn.back.small button span {
		font-size: 15px;
		min-width: 60px;
	}

	/* toTop */
	.btn.toTop {
		margin: 50px 0 0;
		text-align: center;
	}
	.btn.toTop a {
		color: #333;
		padding: 18px 35px 18px 25px;
		background-color: #fff;
		box-shadow: 0 3px #cfcfcf;
	}
	.btn.toTop a span {
		background: url(../img/sp/arrow_brown_back.png) no-repeat center left;
		background-size: 8px auto;
		padding: 0 0 0 25px;
	}
	/* .btn.block a {
		background: none;
		padding: 0;
		background-color: inherit !important;
		overflow: hidden;
		border-radius: 0;
		cursor: pointer;
		box-shadow: none;
	}
	.btn.block a span {
		padding: 0;
	}
	.btn.block a.disabled img {
		opacity: 0.6;
	} */
	
	/* -----------------------------------------------------
	 pagetop
	----------------------------------------------------- */
	#pagetop {
		display: none;
		width: 60px;
		position: absolute;
		right: 10px;
		top: inherit;
		z-index: 99;
		margin-top: -87px !important;
		transition: all 1s ease-in-out;
	}
	/* #pagetop img:first-child {
		position: absolute;
		top: 0;
		left: 0;
	}
	#pagetop img + img {
		position: absolute;
		top: 26px;
        left: 6px;
        width: 80%
	} */
	/* #pagetop.fix {
		position: absolute;
        bottom: 80px;
	} */
	#pagetop.fixed {
		position: fixed;
		right: 10px;
		bottom: 25px;
		top: inherit;
	}
	/* -----------------------------------------------------
	 contents
	----------------------------------------------------- */
	#contentsWrap {
		background: #dedace url(../img/sp/bg_main.jpg) repeat-y center top / 100%;
		display: block;
		position: relative;
	}
	#contentsWrap.other {
		background: #dedace url(../img/sp/bg_main01.jpg) repeat-y center top / 100%;
		display: block;
		position: relative;
	}
	/* #contentsWrap:before {
		content: "";
		display: block;
		width: 100%;
		height: 100px;
		position: absolute;
		left: 0;
		bottom: 0;
		background: url(../img/sp/bg_main_btm.png) no-repeat center bottom / 100%;
	} */
	#mv {
		position: relative;
		z-index: 1;
		border-top: 1px solid #4b0000;
	}
	#mv:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 350px;
		box-sizing: border-box;
		text-align: center;
		background: url(../img/sp/bg_mv.png) no-repeat center top / 100%;
	}
	#mv h1 {
		position: relative;
		z-index: 2;
	}
	#contentsBox {
		position: relative;
		background-size: 100% auto;
		padding: 4% 0 35%;
		border-top: 2px solid #4b0000;
		margin-top: -2px;
	}
	#contentsBox .inner {
		box-sizing: border-box;
		margin: 0 4% 0;
		padding: 28px 15px 25px;
		background-color: #fff;
		border-radius: 10px;
		position: relative;
		border-radius: 10px;
		z-index: 20;
	}
	#contentsBox .inner + .inner {
		margin-top: 40px;
	}
	h2.ttl {
		text-align: center;
		font-size: 32px;
		font-weight: 600;
		color: #0869c5;
		margin-bottom: 25px;
		line-height: 1.4;
		letter-spacing: -0.05em;
	}
	h2.ttl span {
		display: block;
		font-size: 11px;
		margin-top: 3%;
	}
	h2.ttl img {
		width: auto;
		height: 28px;
	}
	h2.ttl::before {
		content: "";
		display: block;
		width: 51px;
		height: 24px;
		background: url(../img/sp/border_ttl.png) no-repeat top left;
		background-size: 100% auto;
		margin: 0px auto 8px;
	}
	h3 {
		text-align: left;
		line-height: 1.4;
	}

	/* errorBox */
	.errorBox {
		font-size: 18px;
		font-weight: 600;
		text-align: left;
		padding: 20px 5%;
		color: #e40112;
		background-color: #fbe6ef;
		border-radius: 14px;
		line-height: 1.5;
		margin-bottom: 20px;
	}

	/* pagetop */
	/* #pagetop {
		position: absolute;
		width: 75px;
		right: 15px;
		bottom: -55px;
	}
	#pagetop img {
		width: 100%;
	} */

	/* -----------------------------------------------------
	 404
	----------------------------------------------------- */
	#contentsBox.notFound {
		text-align: center;
		font-weight: 600;
	}
	#contentsBox.notFound .inner {
		padding: 40px 0 50px;
	}
	.notFound img {
		width: 65%;
	}
	.notFound p {
		margin-top: 5%;
		font-size: 18px;
		line-height: 1.5;
	}

	/* -----------------------------------------------------
	 closed
	----------------------------------------------------- */
	.closed {
		text-align: center;
		font-weight: 600;
	}
	#contentsBox.closed .inner {
		padding-bottom: 30px;
		padding-top: 20px;
	}
	.closed h2 {
		font-size: 30px;
		margin: 0 0 25px;
		line-height: 1.4;
		font-weight: 800;
		color: #e40112;
	}
	.closed h2 img {
		width: 70%;
	}
	.closed h2 + p {
		font-size: 18px;
		margin: 0 0 30px;
		line-height: 1.6;
		font-weight: 600;
	}
	.closed dl.contact {
		border: 1px solid #581c1c;
		text-align: center;
		margin: 40px auto 15px;
		padding: 0 10px;
		border-radius: 10px;
	}
	.closed dl.contact dt {
		font-size: 16px;
		font-weight: 600;
		color: #581c1c;
		display: block;
		width: 68%;
		/* padding: 0 10px; */
		background-color: #fff;
		margin: -8px auto 20px;
	}
	.closed dl.contact dd span {
		font-size: 14px;
		margin-bottom: 8px;
		display: block;
		font-weight: 500;
	}
	.closed dl.contact dd b {
		font-size: 24px;
	}
	.closed dl.contact dd a {
		color: #333;
		text-decoration: none;
	}
	.closed dl.contact dd + dd {
		font-size: 13px;
		font-weight: 400;
		margin-top: 12px;
		padding-bottom: 20px;
		line-height: 1.6;
		text-align: center !important;
		padding-left: 0;
		text-indent: 0;
	}
	.closed dl.contact dd.time {
		padding-bottom: 0;
	}
	.closed dl.contact dd.note {
		color: #000;
		font-size: 12px;
		text-align: left;
	}
	.closed .bnr img {
		box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
	}
	/* sp closed have user account */
	.closed .topbar {
		padding-bottom: 25px;
		border-bottom: 1px solid #e8e8e8;
		margin: 0 0 32px;
	}
	.closed .topbar p.user {
		float: left;
		font-size: 15px;
		background: url(../img/icon_user2.png) no-repeat left center;
		background-size: 40px;
		padding: 11px 0 11px 55px;
	}
	.closed .topbar p.user b {
		display: inline-block;
		color: #f68500;
		margin-right: 5px;
		text-decoration: underline;
	}
	/* -----------------------------------------------------
	 scrollbar
	----------------------------------------------------- */
	.mCSB_scrollTools {
		width: 6px !important;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		width: 6px !important;
		background-color: #b4b4b4 !important;
		border-radius: 6px !important;
	}
	.mCSB_scrollTools .mCSB_draggerRail {
		width: 6px !important;
		background-color: #ededed !important;
		border-radius: 6px !important;
	}
}



@media print, screen and (max-width: 374px) {
	/* twitter */
	.btn.tw a {
		font-size: 15px;
		padding: 22px 10px 20px 15px;
	}
	.btn.tw a span {
		padding: 0px 15px 0 0;
	}
	/* select */
	select {
		padding: 10px 50px 10px 10px;
	}
	/* confirm */
	.btn.confirm button,
	.btn.colorY button {
		padding: 20px 30px 20px 70px;
	}
	.btn.colorY a {
		padding: 20px 20px 20px 30px;
	}
	.btn.confirm button span,
	.btn.colorY button span {
		padding: 0 50px 0 0;
		box-sizing: border-box;
	}
	.btn.colorY a span {
		padding: 0 30px 0 0;
	}
}
