@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:700i");

/* -----------------------------------------------------

 PC表示

----------------------------------------------------- */
@media print, screen and (min-width: 751px) {
	.sp {
		display: none !important;
	}
	html {
		overflow: auto;
	}
	body {
		overflow: hidden;
		min-width: 980px;
	}
	a:hover {
		text-decoration: none;
	}
	/* form
	----------------------------------------------------- */
	/* text */
	input[type="text"],
	input[type="password"] {
		font-size: 16px;
		padding: 10px;
		border: none;
		box-sizing: border-box;
		width: 100%;
		background: #fff;
	}
	input::placeholder, textarea::placeholder {
		color: #aeaeae;
	}
	label {
		position: relative;
		cursor: pointer;
	}
	/* radio */
	label input[type="radio"] {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		background: none;
		border: none;
		border-radius: 0;
		outline: none;
		-webkit-appearance: none;
			 -moz-appearance: none;
						appearance: none;
		opacity: 0;
	}
	label input[type="radio"] + span {
		display: inline-block;
		height: 26px;
		position: relative;
	}
	label input[type="radio"] + span::before {
		content: '';
		display: inline-block;
		width: 26px;
		height: 26px;
		vertical-align: middle;
		box-sizing: border-box;
		background-color: #fff;
		border-radius: 50%;
		border: 1px solid #ccc;
		z-index: 0;
		margin-right: 10px;
	}
	label input[type="radio"] + span::after {
		content: '';
		display: none;
		width: 12px;
		height: 12px;
		box-sizing: border-box;
		background-color: #4b0000;
		border-radius: 50%;
		position: absolute;
		top: 8px;
		left: 7px;
	}
	label input[type="radio"]:checked + span::after {
		display: block;
	}
	label input[type="radio"] + span b {
		display: inline-block;
		font-weight: normal;
		vertical-align: middle;
	}
	/* checkbox */
	label input[type="checkbox"] {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		background: none;
		border: none;
		border-radius: 0;
		outline: none;
		-webkit-appearance: none;
			 -moz-appearance: none;
						appearance: none;
		opacity: 0;
	}
	label input[type="checkbox"] + span {
		display: inline-block;
		height: 26px;
		position: relative;
	}
	label input[type="checkbox"] + span::before {
		content: '';
		display: inline-block;
		width: 26px;
		height: 26px;
		vertical-align: middle;
		box-sizing: border-box;
		background-color: #fff;
		border: 1px #ccc solid;
		z-index: 0;
		margin-right: 10px;
	}
	label input[type="checkbox"] + span::after {
		content: '';
		display: none;
		width: 24px;
		height: 24px;
		background: url(../img/icon_check.png) no-repeat;
		background-size: 100% auto;
		position: absolute;
		top: 1px;
		left: 1px;
	}
	label input[type="checkbox"]:checked + span::after {
		display: block;
	}
	label input[type="checkbox"] + span b {
		display: inline-block;
		font-weight: normal;
		vertical-align: middle;
	}
	/* select */
	select {
		font-size: 16px;
		padding: 10px 75px 10px 10px;
		border: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		background: url(../img/bg_select.png) no-repeat center right #fff;
		cursor: pointer;
		color: #aeaeae;
	}
	select option {
		color: #000;
	}
	select::-ms-expand {
		display: none;
	}
	/* textarea */
	textarea {
		font-size: 16px;
		width: 100%;
		padding: 22px 20px;
		border: none;
		box-sizing: border-box;
		resize: none;
		background: #fff;
	}
	/* error */
	.errorTxt {
		display: none;
		font-size: 14px;
		color: #e40112;
		font-weight: 400;
		margin-top: 10px;
		margin-left: 30px;
		margin-bottom: 15px;
	}
	.error .errorTxt {
		display: block;
	}
	/* .error input[type="text"],
	.error input[type="password"],
	.error select,
	.error textarea {
		border: 2px solid #e40112;
	} */

	/* btn
	----------------------------------------------------- */
	.btn a,
	.btn button {
		color: #fff;
		font-size: 15px;
		font-weight: 400;
		text-decoration: none;
		display: inline-block;
		position: relative;
		padding: 23px 27px 20px 33px;
		box-sizing: border-box;
		background-color: #ff8c2f;
		border: none;
		border-radius: 50px;
		box-shadow: 0 3px #cc5c01;
		transition: all, 0.2s ease;
		cursor: pointer;
	}
	.btn.close a {
		background-color: #dcdcdc;
		box-shadow: 0 3px #ababab;
		color: #000;
	}
	.btn.light a,
	.btn.light button {
		background-color: #f78501;
		box-shadow: 0 3px #794200;
	}
	.btn a span,
	.btn button span {
		display: inline-block;
		background: url(../img/arrow_white01.png) no-repeat center right;
		padding: 0 25px 0 0;
		min-width: 130px;
	}
	.btn a:hover,
	.btn button:hover {
		box-shadow: 0 0 #581c1c;
		-webkit-transform: translate(0, 3px);
						transform: translate(0, 3px);
	}
	.btn.light a span,
	.btn.light button span {
		background: url(../img/arrow_white02.png) no-repeat center right;
	}
	/* disabled */
	.btn a.disabled {
		color: #fff !important;
		background-color: #9a9a9a !important;
		box-shadow: 0 3px #7d7d7d !important;
		cursor: default !important;
		pointer-events: none;
	}
	.btn a.disabled:hover {
		transform: none !important;
	}
	.btn a.disabled span,
	.btn a.disabled b {
		opacity: 0.6;
	}
	/* twitter */
	.btn.tw a {
		padding: 22px 25px 20px 35px;
		background-color: #1da1f2;
		box-shadow: 0 3px #1583d5;
	}
	.btn.tw a:hover {
		box-shadow: 0 0 #1583d5;
		-webkit-transform: translate(0, 3px);
						transform: translate(0, 3px);
	}
	/* btn */
	.btn.large a {
		width: 330px;
		font-size: 20px;
		font-weight: 600;
		padding: 25px 30px 25px 30px;
		border-radius: 50px;
		text-align: center;
	}
	.btn.large a span {
		padding: 0 35px 0 15px;
	}
	/* confirm */
	.btn.confirm button,
	.btn.colorY button,
	.btn.colorY a {
		color: #333;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
		display: inline-block;
		position: relative;
		padding: 18px 35px 18px 105px;
		box-sizing: border-box;
		background-color: #ffde00;
		border: none;
		border-radius: 50px;
		box-shadow: 0 3px #e4a400;
		transition: all, 0.2s ease;
		cursor: pointer;
	}
	.btn.confirm button {
		color: #fff;
		background-color: #f68500;
		box-shadow: 0 3px #dc6200;

	}
	.btn.colorY a {
		padding: 20px 30px 20px 60px;
	}
	.btn.confirm button:hover,
	.btn.colorY button:hover,
	.btn.colorY a:hover {
		box-shadow: 0 0 #e4a400;
		-webkit-transform: translate(0, 3px);
						transform: translate(0, 3px);
	}
	.btn.confirm button:disabled {
		color: #fff;
		background-color: #d3d3d3;
		box-shadow: none;
		cursor: default;
	}
	.btn.confirm button:disabled:hover {
		transform: none;
	}
	.btn.confirm button span,
	.btn.colorY button span,
	.btn.colorY a span  {
		background: url(../img/arrow_black.png) no-repeat center right;
		padding: 2px 65px 0 0;
	}
	.btn.confirm button span {
		background: url(../img/arrow_white02.png) no-repeat center right;
	}
	.btn.confirm button:disabled span {
		background: url(../img/arrow_white03.png) no-repeat center right;
	}
	.btn.colorY a span {
		padding: 0 40px 0 0;
	}
	/* back */
	.btn.back button {
		color: #000;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
		display: inline-block;
		position: relative;
		padding: 18px 35px 16px 25px;
		box-sizing: border-box;
		background: #fff;
		/* background-color: #fff;
		border: none; */
		border-radius: 50px;
		box-shadow: none;
		border: 2px solid #581c1c;
		transition: all, 0.2s ease;
		cursor: pointer;
	}
	.btn.back button:hover {
		/* box-shadow: 0 0 #008700; */
		box-shadow: 0 0 0 2px #581c1c inset;
		-webkit-transform: translate(0, 0);
						transform: translate(0, 0);
	}
	.btn.back button span {
		background: url(../img/arrow_brown_back02.png) no-repeat center left;
		padding: 2px 0 0 25px;
		color: #381818;
	}

	.btn.back.small button {
		width: 250px;
		padding: 11px 45px 10px 25px;
		font-size: 24px;
	}
	.btn.back.small button span {
		background: url(../img/arrow_brown_back.png) no-repeat center left;
		padding: 2px 0 0 25px;
		min-width: 150px;
	}
	/* toTop */
	.btn.toTop {
		width: 980px;
		margin: 40px auto 0;
		text-align: left;
	}
	.btn.toTop a {
		color: #333;
		padding: 18px 35px 18px 25px;
		background-color: #fff;
		box-shadow: 0 3px #c0bec1;
	}
	.btn.toTop a:hover {
		box-shadow: 0 0 #c1cec1;
		-webkit-transform: translate(0, 3px);
						transform: translate(0, 3px);
	}
	.btn.toTop a span {
		background: url(../img/arrow_brown_back.png) no-repeat center left;
		padding: 2px 0 0 25px;
		font-size: 16px;
		font-weight: 700;
	}
	/* .btn.block a {
		background: none;
		padding: 0;
		background-color: inherit !important;
		overflow: hidden;
		border-radius: 0;
		cursor: pointer;
		box-shadow: none;
	}
	.btn.block a span {
		padding: 0;
	}
	.btn.block a img {
		-webkit-transform: translateX(0px) translateY(0px);
		transform: translateX(0px) translateY(0px);
		-webkit-transition: .15s ease-out;
		transition: .15s ease-out;
		vertical-align: bottom;
	}
	.btn.block a:hover img {
		-webkit-transform: translateX(8px) translateY(8px);
		transform: translateX(8px) translateY(8px);
	}
	.btn.block a.disabled img {
		opacity: 0.6;
		-webkit-transform: translateX(8px) translateY(8px);
		transform: translateX(8px) translateY(8px);
	}
	.btn.block a.disabled:hover img {
		-webkit-transform: translateX(0px) translateY(0px);
		transform: translateX(0px) translateY(0px);
	} */
	/* bnr */
	.bnr {
		text-align: center;
	}
	.bnr a {
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}
	.bnr a:hover {
		opacity: 0.8;
	}
	/* -----------------------------------------------------
	 pagetop
	----------------------------------------------------- */
	#pagetop {
		cursor: pointer;
		display: none;
		position: absolute;
		right: 18px;
		top: inherit;
		z-index: 99;
		margin-top: -142px;

		/* position: fixed;
		right: 18px;
		bottom: 20px;
		z-index: 3;
		cursor: pointer;
		display: none;
		width: 102px; */
	}
	#pagetop img {
		width: 81px;
		position: relative;
		z-index: 2;
		-webkit-transition-duration: 0.3s;
		-o-transition-duration: 0.3s;
		transition-duration: 0.3s;
	}
	#pagetop.fixed {
		position: fixed;
		bottom: 60px;
		top: inherit;
	}
	#pagetop:hover img {
		-webkit-transform: scale(1.02);
		-ms-transform: scale(1.02);
		transform: scale(1.02);
	}
	#pagetop:before,
	#pagetop:after {
		content: '';
		display: block;
		width: 90px;
		height: 90px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -45px 0 0 -45px;
		border-radius: 50%;
		background: rgba(10, 6, 3, 0.2);
		-webkit-transform: scale(0, 0);
		-ms-transform: scale(0, 0);
		transform: scale(0, 0);
	}
	#pagetop:hover:before {
		-webkit-animation: hamon 1.5s infinite;
		animation: hamon 1.5s infinite;
	}
	#pagetop:hover:after {
		-webkit-animation: hamon 1.5s .2s infinite;
		animation: hamon 1.5s .2s infinite;
	}


	/* -----------------------------------------------------
	 contents
	----------------------------------------------------- */
	#contentsWrap {
		background: #dedace url(../img/bg_main.jpg) repeat-y center 240px;
		padding-bottom: 125px;
		position: relative;
	}
	#contentsWrap.other {
		background: #dedace url(../img/bg_main01.jpg) repeat-y center 240px;
		padding-bottom: 125px;
		position: relative;
	}
	/* #contentsWrap:before {
		content: "";
		display: block;
		width: 100%;
		height: 94px;
		position: absolute;
		left: 0;
		bottom: 0;
		background: url(../img/bg_main_btm.png) no-repeat center bottom;
	} */
	#mv {
		position: relative;
		width: 100%;
		height: 250px;
		margin: 0 auto;
		box-sizing: border-box;
		text-align: center;
		z-index: 2;
		border-top: 1px solid #4b0000;
	}
	#mv:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 250px;
		box-sizing: border-box;
		text-align: center;
		background: url(../img/bg_mv.png) no-repeat center top;
	}
	#mv h1 {
		position: absolute;
		top: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	#contentsBox {
		padding-top: 40px;
		border-top: 2px solid #4b0000;
	}
	#contentsBox .inner {
		width: 980px;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 65px 60px 60px;
		background-color: #fff;
		border-radius: 10px;
		position: relative;
		z-index: 20;
		-webkit-box-shadow: 0px 0px 16px 0px rgba(52, 39, 11, 0.2);
		-moz-box-shadow:    0px 0px 16px 0px rgba(52, 39, 11, 0.2);
		box-shadow:         0px 0px 16px 0px rgba(52, 39, 11, 0.2);
	}
	#contentsBox .inner + .inner {
		margin: 50px auto 0;
	}
	h2.ttl {
		text-align: center;
		font-size: 30px;
		font-weight: 600;
		color: #581c1c;
		margin-bottom: 40px;
		line-height: 1;
	}
	h2.ttl img {
		height: 32px;
		width: auto;
	}
	h2.ttl span {
		display: block;
		font-size: 11px;
		margin-top: 10px;
	}
	h2.ttl::before {
		content: "";
		display: block;
		width: 60px;
		height: 32px;
		background: url(../img/border_ttl.png) no-repeat center top;
		background-size: 100% auto;
		margin: 0 auto 10px;
	}

	/* errorBox */
	.errorBox {
		font-size: 20px;
		font-weight: 600;
		text-align: center;
		padding: 20px 0;
		color: #e40112;
		background-color: #fbe6ef;
		border-radius: 14px;
		line-height: 1.5;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	/* -----------------------------------------------------
	 404
	----------------------------------------------------- */
	.notFound {
		text-align: center;
		font-weight: 700;
	}
	#contentsBox.notFound .inner {
		padding: 75px 0;
	}
	.notFound .inner img {
		width: 280px;
	}
	.notFound p {
		margin-top: 20px;
		line-height: 1.5;
	}

	/* -----------------------------------------------------
	 closed
	----------------------------------------------------- */
	.closed {
		text-align: center;
		font-weight: 600;
	}
	.closed#contentsBox .inner {
		padding-top: 80px;
		padding-bottom: 95px;
	}
	.closed h2 {
		font-size: 34px;
		color: #e40112;
		margin: 0 0 20px;
		font-weight: 800;
	}
	.closed h2 + p {
		font-size: 16px;
		margin: 0 0 35px;
		font-weight: 700;
	}
	.closed dl.contact {
		width: 675px;
		border: 1px solid #581c1c;
		text-align: center;
		margin: 50px auto 50px;
		padding-bottom: 25px;
		border-radius: 10px;
	}
	.closed dl.contact dt {
		font-size: 20px;
		font-weight: 600;
		color: #581c1c;
		display: block;
		width: 360px;
		background-color: #fff;
		margin: -10px auto 35px;
	}
	.closed dl.contact dd span {
		display: inline-block;
		font-weight: 400;
		vertical-align: middle;
	}
	.closed dl.contact dd b {
		display: inline-block;
		font-size: 28px;
		margin-left: 10px;
		vertical-align: middle;
	}
	.closed dl.contact dd a {
		color: #333;
		text-decoration: none;
	}
	.closed dl.contact dd + dd {
		font-size: 13px;
		margin-top: 15px;
		line-height: 1.6;
	}
	.closed dl.contact dd.time {
		font-size: 14px;
	}
	.closed dl.contact dd.note {
		font-size: 12px;
		font-weight: 400;
		color: #000;
		margin-top: 5px;
	}
	.closed .bnr img {
		box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
	}

	/* -----------------------------------------------------
	 scrollbar
	----------------------------------------------------- */
	.mCSB_scrollTools {
		width: 12px !important;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		width: 12px !important;
		background-color: #b4b4b4 !important;
		border-radius: 12px !important;
	}
	.mCSB_scrollTools .mCSB_draggerRail {
		width: 12px !important;
		background-color: #ededed !important;
		border-radius: 12px !important;
	}
}


@-webkit-keyframes hamon {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    opacity: 0; } }
@keyframes hamon {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    opacity: 0; } }
@-webkit-keyframes hamon02 {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  100% {
    -webkit-transform: scale(30, 30);
    transform: scale(30, 30); } }
@keyframes hamon02 {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  100% {
    -webkit-transform: scale(30, 30);
    transform: scale(30, 30); } }
