@*
%*
*.lib
bk*
Thumbs.db
Desktop.ini
.DS_Strore
.DS_Store
._*
.svn
_notes
.BridgeSort
.BridgeLabelsAndRatings
*.log
*コピー*
_*.*
*BK*
*.bak
.htaccess
uploadfiles/*
templates_c/*
data/*
!.gitkeep
.idea/*
docker/mysql/storage/*
node_modules/*
/www/public/hot
/www/public/storage
/www/storage/*.key
/www/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
